<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Course_project_GYMAPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Course_project_GYMAPP.styles.css" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-1 d-flex align-items-center justify-content-center" id="counterUsers">
            </div>
            <h1 class="header col-11">
                <img  src="~/img/logo.png">
                FERRUM GYM
            </h1>
        </div>
        
    <nav id="mynav">
        
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Trainer" asp-action="GetTrainersInfo">Інструктори</a>
            </li>
                @if(!User.Identity.IsAuthenticated || User.IsInRole("User"))
                {
                    <li>
                        <a asp-area="" asp-controller="Card" asp-action="Index">Клубні картки</a>
                    </li>
                }
            <li>
                <a asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a>
            </li>
            
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" value="Вихід" />
                        </form>
                    </li>
                    @if (User.IsInRole("User"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="EditProfile">Профіль</a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Index">Налаштування</a>
                        </li>
                    }
                    @if (User.IsInRole("Trainer"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Trainer" asp-action="Index">Відвідувачі</a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
                    </li>
                }
            </ul>
    </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @Html.Partial("_NotificationPanel")
            @RenderBody()
        </main>
    </div>
    <footer class="fixed-bottom">
        <p>© 2023 Zhmutskyi Maksym KNT-130</p>
    </footer>
    

    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFullscreenSizeLabel">Форма</h5>
                    <button type="button" class="btn-close" aria-label="Закрыть" onclick="hideModal()"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <script>

        function Search(action, pattern, dist){
            $.ajax({
                type: 'GET',
                url: action,
                data: { "pattern": pattern },
                success: function (response) {
                    $(dist).html(response);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function showModal(action, id) {

            if (action === undefined || id == undefined) {
                alert('Помилка')
                return;
            }
            
            $.ajax({
                type: 'GET',
                url: action,
                data: {"id" : id},
                success: function (response) {
                    $('#modal').find(".modal-body").html(response);
                    $('#modal').modal('show')
                },
                failure: function () {
                    $('#modal').modal('hide')
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        };


        function hideModal(){
            $('#modal').modal('hide');
            $('#modal').find(".modal-body").html("");
        }


        window.onload = function() {
            $.ajax({
                    type: 'GET',
                url: '../Home/GetGymUserCount',
                    success: function (response) {
                        $('#counterUsers').html(response);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        }
    </script>

    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
