<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Course_project_GYMAPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Course_project_GYMAPP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1 class="header">
        FERRUM GYM
        </h1>
    <nav id="mynav">
        
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Інструктори</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Card" asp-action="Index">Клубні картки</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Контакти</a>
            </li>
            
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" value="Вихід" />
                        </form>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Налаштування</a>
                        </li>
                    }
                    @if (User.IsInRole("Trainer"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Відвідувачі</a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
                    </li>
                }
            </ul>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>© 2023 Zhmutskyi Maksym KNT-130</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
