@model int

<span class="border border-5" style="padding:3px; background-color:lightgray;-webkit-text-stroke: 0.02em black;text-shadow: -4px 4px 3px #999999;">
    <img src="https://cdn-icons-png.flaticon.com/512/372/372510.png" width="50" height="50" />
    <label style="margin-left:10px;">@Model</label>
</span>
