@model IEnumerable<Course_project_GYMAPP.Domain.Entity.Admin>


<div class="row p-2">
    <div class="col-sm-2">
        <button onclick="showModal('../Admin/AddAdmin', 0)" type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Новий адмін</button>
    </div>
    <div class="col-sm-7">
        <form asp-action="AddGymUser" asp-controller="Trainer" method="post">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="input-group-button-right">
                <button type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Пошук</button>
            </div>
        </form>
    </div>
</div>

<div class="tableBodyScroll">
<table class="table table-hover">
<thead>
    <tr>
        <th scope="col" class="col-2">ID</th>
        <th scope="col" class="col-8">Ім'я</th>
        <th scope="col" class="col-1"> </th>
        <th scope="col" class="col-1"> </th>
    </tr>
</thead>
<tbody>
        @foreach (var user in Model)
        {
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.Name</td>
                            <td><button type="submit" class="btn btn-outline-secondary" id="input-group-button-right" onclick="showModal('../Admin/GetAdmin', @user.Id)">Редагувати</button></td>
                        <td>
                            <form method="post" asp-controller="Admin" asp-action="DeleteAdmin" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-outline-secondary" id="input-group-button-right">Видалити</button>
                            </form>
                        </td>
                    </tr>
        }

</tbody>
</table>
</div>