@model Course_project_GYMAPP.Domain.ViewModels.AdminEditTrainerViewModel


<form method="post" asp-controller="Admin" asp-action="EditTrainer" id="editForm">
    <input asp-for="ID" hidden/>
    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
    <div class="form-group">
        <input asp-for="Name" class="form-control textbox-dg font-weight-bold text-center mb-3" placeholder="Ім'я" type="text" required>
    </div>
    <div class="form-group">
        <input asp-for="Age" class="form-control textbox-dg font-weight-bold text-center mb-3" placeholder="Вік" type="number" required>
    </div>
    <div class="form-group">
        <input asp-for="Number" class="form-control textbox-dg font-weight-bold text-center mb-3" placeholder="Номер телефону" type="number" required>
    </div>
    <div class="form-group">
        <textarea asp-for="AboutInfo" class="form-control textbox-dg font-weight-bold text-center mb-3" placeholder="Особисті дані" type="text" required></textarea>
    </div>
    <div class="form-group">
        <input asp-for="ImgPath" class="form-control textbox-dg font-weight-bold text-center mb-3" placeholder="Шлях до файлу з зображенням" type="text" required>
    </div>
    <div class="form-group">
        <input autocomplete="new-password" id="password" asp-for="Password" placeholder="Пароль" class="mb-3 form-control textbox-dg font-weight-bold text-center" type="password">
    </div>
    <span id="lpass" class="error" aria-live="polite"></span>
    <div class="form-group">
        <input autocomplete="new-password" id="confirmPassword" asp-for="ConfirmPassword" placeholder="Підтвердіть пароль" class="form-control mb-3 textbox-dg font-weight-bold text-center" type="password">
    </div>
    <span id="lcpass" class="error" aria-live="polite"></span>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Зберегти зміни</button>
    </div>
</form>

<script>
    document.getElementById("password").oninput = function (event) {
        if (document.getElementById("password").value.length < 8) {
            document.getElementById("lpass").textContent = 'Пароль має містити понад 8 символів';
            document.getElementById("lpass").className = 'error active';
            document.getElementById("lcpass").textContent = '';
            document.getElementById("lcpass").className = 'error ';
        }
        else {
            document.getElementById("lpass").textContent = '';
            document.getElementById("lpass").className = 'error';
            document.getElementById("lcpass").textContent = '';
            document.getElementById("lcpass").className = 'error ';
        }
    }

    document.getElementById("confirmPassword").oninput = function (event) {
        document.getElementById("lcpass").textContent = '';
        document.getElementById("lcpass").className = 'error ';
    }

    document.getElementById("editForm").onsubmit = function (event) {
        if (document.getElementById("password").value.length != 0) {
            if (document.getElementById("password").value.length < 8) {
                event.preventDefault();
            }
            else if (document.getElementById("password").value != document.getElementById("confirmPassword").value) {
                document.getElementById("lcpass").textContent = 'Паролі не співпадають';
                document.getElementById("lcpass").className = 'error active';
                event.preventDefault();
            }
        }
    }
</script>