@model Course_project_GYMAPP.Domain.ViewModels.UserEditDataViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Налаштування";
}

<div class="d-flex align-items-start mt-5 col-md-8">
    <div class="border nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a style="font-size: 2em; color: black;" class="m-3 nav-link active bg-dark bg-opacity-25" id="v-pills-card-tab" data-bs-toggle="pill" href="#v-pills-card" role="tab" aria-controls="v-pills-card" aria-selected="true" onclick="showData('../Admin/GetPersonalCardsData', 'v-pills-card')">КАРТКИ</a>
        <a style="font-size: 2em; color: black;" class="m-3 nav-link bg-dark bg-opacity-25" id="v-pills-users-tab" data-bs-toggle="pill" href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="false" onclick="showData('../Admin/GetUsersData', 'v-pills-users')">КОРИСТУВАЧІ</a>
        <a style="font-size: 2em; color: black;" class="m-3 nav-link bg-dark bg-opacity-25" id="v-pills-trainers-tab" data-bs-toggle="pill" href="#v-pills-trainers" role="tab" aria-controls="v-pills-trainers" aria-selected="false" onclick="showData('../Admin/GetTrainersData', 'v-pills-trainers')">ТРЕНЕРИ</a>
        <a style="font-size: 2em; color: black;" class="m-3 nav-link bg-dark bg-opacity-25" id="v-pills-admins-tab" data-bs-toggle="pill" href="#v-pills-admins" role="tab" aria-controls="v-pills-admins" aria-selected="false" onclick="showData('../Admin/GetAdminsData', 'v-pills-admins')">АДМІНИ</a>
        <a style="font-size: 2em; color: black;" class="m-3 nav-link bg-dark bg-opacity-25" id="v-pills-statistics-tab" data-bs-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="false">СТАТИСТИКА</a>
    </div>
    <div class="tab-content border" id="v-pills-tabContent">
        <div style="height: 700px; width: 1100px;" class="bg-dark bg-opacity-10 tab-pane fade show active" id="v-pills-card" role="tabpanel" aria-labelledby="v-pills-card-tab">
        </div>
        <div style="height: 700px; width: 1100px;" class="bg-dark bg-opacity-10 tab-pane fade" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
        </div>
        <div style="height: 700px; width: 1100px;" class="bg-dark bg-opacity-10 tab-pane fade" id="v-pills-trainers" role="tabpanel" aria-labelledby="v-pills-trainers-tab">
        </div>
        <div style="height: 700px; width: 1100px;" class="bg-dark bg-opacity-10 tab-pane fade" id="v-pills-admins" role="tabpanel" aria-labelledby="v-pills-admins-tab">
        </div>
        <div style="height: 700px; width: 1100px;" class="bg-dark bg-opacity-10 tab-pane fade" id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab">
        </div>
    </div>
</div>




<script type="text/javascript">
    function showData(act, dest){
        const action = act;
        const destination = dest;
        
        if (action == undefined || destination == undefined) {
            alert("ERROR");
            return;
        }

        $.ajax({
            type: 'POST',
            url: action,
            success: function (response){
                $('#' + destination).html(response);
            }
        })
    }
</script>