@media screen and (min-width: 1900px) and (max-width: 1950px) {
    html {
        background-color: white;
    }

    .header {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 11em;
        color: white;
        text-shadow: -4px 4px 3px #999999;
        text-align: center;
        border-top: 5px solid #252525;
        border-bottom: 5px solid #252525;
        background-color: #686868;
        margin-top: 0em;
        margin-bottom: 0px;
        -webkit-text-stroke: 0.02em black;
    }

        .header img {
            weight: 150px;
            height: 150px;
            margin-top: -0.2em;
        }

    nav {
        background-color: #b4b4b4;
        padding: 0px 0px 0px 0px;
        list-style: none;
        overflow: hidden;
        border-bottom: 5px solid #252525;
    }

        nav ul {
            margin: 0px 0px 0px 0px;
            list-style-type: none;
            padding: 0px 0px 0px 0px;
            text-align: center;
        }

        nav li {
            font-family: "Times New Roman", Times, serif;
            font-size: 2.2em;
            display: inline-block;
            width: 12em;
            text-align: center;
            height: 2em;
            padding-top: 0.2em;
        }

            nav li a {
                text-decoration: none;
                color: black;
            }

                nav li a:hover {
                    text-decoration: none;
                }

            nav li:hover {
                font-weight: bold;
                background-color: #8d8d8d;
                text-transform: uppercase;
            }

    .mycarousel {
        background-color: #ffdab0;
    }

    p {
        padding-top: 3em;
    }

    .main_page_text {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 2em;
        text-align: justify;
        background-color: #dcdcdc;
        padding: 2em 8em 2em 8em;
        text-indent: 1.5em;
        line-height: 2em;
    }

    p:first-letter {
        font-weight: bold;
        color: black;
        font-size: 2.01em;
    }

    #list-trainers ul {
        padding-top: 3em;
        list-style-type: none;
        text-align: center;
    }

    #list-trainers li {
        display: inline-block;
        padding: 3em 0em 3em 0em;
    }

    #list-trainers img {
        width: 350px;
        height: 350px;
        border: 7px dashed #252525;
    }

    #list-gym ul {
        list-style-type: none;
        text-align: center;
        width: 1510px;
    }

    #list-gym li {
        display: table-cell;
        width: 400px;
        padding: 3em 0em 3em 0em;
    }

    #list-gym img {
        width: 400px;
        height: 350px;
        border: 7px double #252525;
    }

    #header-list {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.4em;
        padding-bottom: 1.5em;
    }

    #list-benefits {
        list-style-type: "\1F44D";
        list-style-position: inside;
    }

    .outsrc-img {
        padding: 2em 12em 2em 6em;
        text-align: center;
    }

    footer {
        text-align: center;
        padding-bottom: 20px;
        background-color: #b4b4b4;
        color: white;
        font-size: 20px;
        border-top: 5px solid #252525;
    }

        footer a {
            text-decoration: none;
            color: white;
        }

            footer a:hover {
                text-decoration: none;
                color: red;
            }

    #eq-main {
        background-color: #dcdcdc;
        padding: 2em 10em 2em 18em;
    }

    .eq-card {
        background-color: #dcdcdc;
        display: inline-block;
        width: 600px;
        margin: 0px 100px 100px 0px;
    }

        .eq-card h2 {
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            font-size: 2.5em;
            text-align: center;
            color: white;
            -webkit-text-stroke: 0.02em black;
            background-color: #b6bd68;
            border-radius: 50px;
        }

        .eq-card img {
            width: 500px;
            height: 350px;
            border: 4mm ridge #454545;
            margin: 20px 0px 0px 50px;
        }

    .eq-card-info {
        padding: 0em 20em 2em 20em;
    }

        .eq-card-info h2 {
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            font-size: 4em;
            text-align: center;
            padding: 0.5em 0em 1em 0em;
            border-bottom: 5px solid black;
            border-top: 5px solid black;
            margin: 1em 0em 1em 0em;
            background-color: #d0d0d0;
        }

        .eq-card-info p {
            font-family: "Times New Roman", Times, serif;
            font-weight: normal;
            font-size: 2em;
            padding: 0em;
            text-indent: 1.5em;
            line-height: 1.7em;
        }

        .eq-card-info img {
            float: left;
            border: 7px double #252525;
            margin: 2em;
            width: 500px;
            height: 500px;
        }

        .eq-card-info ul {
            list-style-type: "💪";
            list-style-position: inside;
            text-indent: 4em;
            line-height: 3em;
        }

        .eq-card-info li {
            font-family: "Times New Roman", Times, serif;
            font-weight: normal;
            font-size: 2em;
            margin-bottom: 20px;
        }

    #contacts-content {
        display: flex;
        margin-left: 50px;
    }

    #contacts-head {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 4em;
        text-align: center;
        margin: 1em 0em 1em 0em;
    }

    #contacts-content ul {
        margin: 6em 0em 0em 12em;
        list-style-type: none;
    }

    #contacts-content li {
        font-family: "Times New Roman", Times, serif;
        font-size: 2.2em;
        line-height: 2em;
        padding-top: 0.2em;
    }

        #contacts-content li a {
            text-decoration: none;
            color: black;
        }

    #contacts-map {
        padding: 0em 2em 3.7em 1em;
        width: 50%;
    }

    #rezume img {
        width: 350px;
        height: 400px;
    }

    #foto-cell {
        width: 350px;
        height: 400px;
    }

    #info-cell {
        line-height: 2em;
    }

    #rezume h2 {
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 4em;
        margin: 15px;
        -webkit-text-stroke: 0.04em black;
        color: #686868;
        text-shadow: -8px 8px 4px #999999;
    }

    #rezume table {
        width: 70%;
        margin: 2em 12em 3em 20em;
        line-height: 4em;
    }

    #rezume th {
        border: 2px solid black;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 2em;
        background-color: #b6bd68;
    }

    .td-center {
        text-align: center;
    }

    .td-left {
        padding-left: 20px;
    }

    #rezume td {
        border: 2px solid black;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.5em;
    }

    #legend-form {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 4em;
        text-align: center;
        margin: 0.5em 8em 1em 8em;
        color: white;
        -webkit-text-stroke: 0.02em black;
        background-color: #b6bd68;
        border-radius: 50px;
    }

    form {
        border: 5px solid black;
        padding: 50px;
        margin-left: 60em;
        margin-bottom: 10em;
        width: 720px;
        line-height: 4em;
    }

    #textbox, #select-name, #radio-text {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 2em;
    }

    #selecter {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1em;
        margin-bottom: 2em;
    }

    #radio-box {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1em;
    }

    #club-card {
        float: left;
        margin: 8em 0em 4em 11em;
        border: 11px double #252525;
        width: 700px;
        height: 400px;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="tel"],
    #selecter {
        width: 600px;
    }

    input[type="radio"] {
        margin-left: 50px;
    }

    input[type="submit"] {
        width: 500px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 2.2em;
        margin: 1em 5em 1em 1.6em;
    }

    .label {
        width: 500px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 1em;
    }

    .modal-title {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 2em;
    }

    .modal-body {
        height: 150px;
    }

    #body-text {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.5em;
        line-height: 2em;
    }

    #sub-button button[type="submit"] {
        width: 400px;
        height: 60px;
        background-color: black;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.5em;
        line-height: 1em;
        margin: 1em 0em 0em 4.5em;
        color: white;
    }

    #sub-button:hover button[type="submit"] {
        background-color: #8d8d8d;
        border-color: yellow;
        border-size: 5px;
    }

    .error {
        border-color: red;
        border-width: 5px;
        background-color: #f43b48;
    }

    #btn-top {
        display: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        z-index: 99;
        border: 3px dashed black;
        outline: none;
        background-color: #b6bd68;
        color: black;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 30px;
    }

        #btn-top:hover {
            background-color: #8d8d8d;
            color: white;
            border-radius: 50px;
            font-size: 40px;
        }
}



@media screen and (min-width: 2400px) and (max-width: 2600px) {
    html {
        background-color: white;
    }

    .header {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 11em;
        color: white;
        text-shadow: -4px 4px 3px #999999;
        text-align: center;
        border-top: 5px solid #252525;
        border-bottom: 5px solid #252525;
        background-color: #686868;
        margin-top: 0em;
        margin-bottom: 0px;
        -webkit-text-stroke: 0.02em black;
    }

        .header img {
            weight: 150px;
            height: 150px;
            margin-top: -0.2em;
        }

    nav {
        background-color: #b4b4b4;
        padding: 0px 0px 0px 0px;
        list-style: none;
        overflow: hidden;
        border-bottom: 5px solid #252525;
    }

        nav ul {
            margin: 0px 0px 0px 0px;
            list-style-type: none;
            padding: 0px 0px 0px 0px;
            text-align: center;
        }

        nav li {
            font-family: "Times New Roman", Times, serif;
            font-size: 2.2em;
            display: inline-block;
            width: 12em;
            text-align: center;
            height: 2em;
            padding-top: 0.2em;
        }

            nav li a {
                text-decoration: none;
                color: black;
            }

                nav li a:hover {
                    text-decoration: none;
                }

            nav li:hover {
                font-weight: bold;
                background-color: #8d8d8d;
                text-transform: uppercase;
            }

    .mycarousel {
        background-color: #ffdab0;
    }

    p {
        padding-top: 3em;
    }

    .main_page_text {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 2em;
        text-align: justify;
        background-color: #dcdcdc;
        padding: 2em 12em 2em 12em;
        text-indent: 1.5em;
        line-height: 2em;
    }

    p:first-letter {
        font-weight: bold;
        color: black;
        font-size: 2.01em;
    }

    #list-trainers ul {
        padding-top: 3em;
        list-style-type: none;
        text-align: center;
    }

    #list-trainers li {
        display: inline-block;
        padding: 3em 0em 3em 0em;
    }

    #list-trainers img {
        width: 500px;
        height: 500px;
        border: 7px dashed #252525;
    }

    #list-gym ul {
        list-style-type: none;
        text-align: center;
        width: 1510px;
    }

    #list-gym li {
        display: table-cell;
        width: 500px;
        padding: 3em 0em 3em 0em;
    }

    #list-gym img {
        width: 500px;
        height: 400px;
        border: 7px double #252525;
    }

    #header-list {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.4em;
        padding-bottom: 1.5em;
    }

    #list-benefits {
        list-style-type: "\1F44D";
        list-style-position: inside;
    }

    .outsrc-img {
        padding: 2em 12em 2em 12em;
        text-align: center;
    }

    footer {
        text-align: center;
        padding-bottom: 20px;
        background-color: #b4b4b4;
        color: white;
        font-size: 20px;
        border-top: 5px solid #252525;
    }

        footer a {
            text-decoration: none;
            color: white;
        }

            footer a:hover {
                text-decoration: none;
                color: red;
            }

    #eq-main {
        background-color: #dcdcdc;
        padding: 2em 10em 2em 25em;
    }

    .eq-card {
        background-color: #dcdcdc;
        display: inline-block;
        width: 800px;
        margin: 0px 100px 100px 0px;
    }

        .eq-card h2 {
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            font-size: 4em;
            text-align: center;
            color: white;
            -webkit-text-stroke: 0.02em black;
            background-color: #b6bd68;
            border-radius: 50px;
        }

        .eq-card img {
            width: 700px;
            height: 500px;
            border: 4mm ridge #454545;
            margin: 20px 0px 0px 50px;
        }

    .eq-card-info {
        padding: 0em 30em 2em 30em;
    }

        .eq-card-info h2 {
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            font-size: 4em;
            text-align: center;
            padding: 0.5em 0em 1em 0em;
            border-bottom: 5px solid black;
            border-top: 5px solid black;
            margin: 1em 0em 1em 0em;
            background-color: #d0d0d0;
        }

        .eq-card-info p {
            font-family: "Times New Roman", Times, serif;
            font-weight: normal;
            font-size: 2em;
            padding: 0em;
            text-indent: 1.5em;
            line-height: 1.7em;
        }

        .eq-card-info img {
            float: left;
            border: 7px double #252525;
            margin: 2em;
            width: 500px;
            height: 500px;
        }

        .eq-card-info ul {
            list-style-type: "💪";
            list-style-position: inside;
            text-indent: 4em;
            line-height: 3em;
        }

        .eq-card-info li {
            font-family: "Times New Roman", Times, serif;
            font-weight: normal;
            font-size: 2em;
            margin-bottom: 20px;
        }

    #contacts-content {
        display: flex;
        margin-left: 100px;
    }

    #contacts-head {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 4em;
        text-align: center;
        margin: 1em 0em 1em 0em;
    }

    #contacts-content ul {
        margin: 6em 0em 0em 12em;
        list-style-type: none;
    }

    #contacts-content li {
        font-family: "Times New Roman", Times, serif;
        font-size: 2.2em;
        line-height: 2em;
        padding-top: 0.2em;
    }

        #contacts-content li a {
            text-decoration: none;
            color: black;
        }

    #contacts-map {
        padding: 0em 2em 3.7em 2em;
        width: 50%;
    }

    #rezume img {
        width: 350px;
        height: 400px;
    }

    #foto-cell {
        width: 350px;
        height: 400px;
    }

    #info-cell {
        line-height: 2em;
    }

    #rezume h2 {
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 4em;
        margin: 15px;
        -webkit-text-stroke: 0.04em black;
        color: #686868;
        text-shadow: -8px 8px 4px #999999;
    }

    #rezume table {
        width: 70%;
        margin: 2em 12em 3em 22em;
        line-height: 4em;
    }

    #rezume th {
        border: 2px solid black;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 2em;
        background-color: #b6bd68;
    }

    .td-center {
        text-align: center;
    }

    .td-left {
        padding-left: 20px;
    }

    #rezume td {
        border: 2px solid black;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.5em;
    }

    #legend-form {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 4em;
        text-align: center;
        margin: 0.5em 11em 1em 11em;
        color: white;
        -webkit-text-stroke: 0.02em black;
        background-color: #b6bd68;
        border-radius: 50px;
    }

    form {
        border: 5px solid black;
        padding: 50px;
        margin-left: 100em;
        margin-bottom: 10em;
        width: 720px;
        line-height: 4em;
    }

    #textbox, #select-name, #radio-text {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 2em;
    }

    #selecter {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1em;
        margin-bottom: 2em;
    }

    #radio-box {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1em;
    }

    #club-card {
        float: left;
        margin: 8em 0em 4em 15em;
        border: 11px double #252525;
        width: 1000px;
        height: 500px;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="tel"],
    #selecter {
        width: 600px;
    }

    input[type="radio"] {
        margin-left: 50px;
    }

    input[type="submit"] {
        width: 500px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 2.2em;
        margin: 1em 5em 1em 1.6em;
    }

    .label {
        width: 500px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 1em;
    }


    #body-text {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.5em;
        line-height: 2em;
    }

    #sub-button button[type="submit"] {
        width: 400px;
        height: 60px;
        background-color: black;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.5em;
        line-height: 1em;
        margin: 1em 0em 0em 4.5em;
        color: white;
    }

    #sub-button:hover button[type="submit"] {
        background-color: #8d8d8d;
        border-color: yellow;
        border-size: 5px;
    }

    .error {
        border-color: red;
        border-width: 5px;
        background-color: #f43b48;
    }

    #btn-top {
        display: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        z-index: 99;
        border: 3px dashed black;
        outline: none;
        background-color: #b6bd68;
        color: black;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 30px;
    }

        #btn-top:hover {
            background-color: #8d8d8d;
            color: white;
            border-radius: 50px;
            font-size: 40px;
        }
}
