@model List<Course_project_GYMAPP.Domain.ViewModels.SellPersonalCardViewModel>

@{
    ViewData["Title"] = "Клубні картки";
}
<div class="container">
    
        <div class="row mt-5">
            @foreach(var item in Model)
            {
                <div class="col-6 mt-3">
                    <div class="card p-3">
                        <form autocomplete="on" method="post" asp-controller="Card" asp-action="Index" asp-route-id="@item.ID">
                            <img src="img/card.png" style="height:350px; width:500px;" class="card-img-top" alt="card-grid-image">
                            <div class="card-body text-center align-content-center">
                                <h5 class="card-title" style="font-size:30px;">Назва: @item.Name</h5>
                                <p class="card-text" style="font-size:25px;">Термін дії: @item.Duration</p>
                                <p class="card-text" style="font-size:25px;">Вартість: @item.Price</p>
                                <button class="mr-3 btn btn-success" style="font-size:25px;">Придбати</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
</div>
