@model Course_project_GYMAPP.Domain.ViewModels.UserLoginViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Авторизація";
}

<div style="padding: 40px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center ParagraphHome">Авторизація</h3>
                        </div>
                        <div class="card-body">
                            <form autocomplete="on" method="post" asp-controller="Account" asp-action="Login" id="login">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <input asp-for="Name" placeholder="Ім'я'" class="mb-3 form-control textbox-dg font-weight-bold text-center" type="text">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="mb-3 form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <div class="d-grid gap-2 d-md-block float-right mb-3">
                                    <a asp-controller="Account" asp-action="Register" class="ml-3 btn btn-primary" type="button">Реєстрація</a>
                                    <button class="mr-3 btn btn-success">Вхід</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>