@model List<Course_project_GYMAPP.Domain.Entity.InGymUser>

@{
    ViewData["Title"] = "Відвідувачі";
}



<div class="container bg-light border border-2 mt-5 p-3" style="height:750px">
<div class="row mb-3">
    <div class="col-md-2">
            <button onclick="showModal('../Trainer/Register', 0)" type="submit" class="btn  btn-dark" id="input-group-button-right">Новий користувач</button>
    </div>
    <div class="col-md-2">
            <button type="submit" class="btn btn-dark" onclick="showModal('../Trainer/NewCard', 0)" id="input-group-button-right">Оформити картку</button>
    </div>
</div>
<div class="row mb-2">
    <div class="input-group center-block">
        <select id="chooseUser" class="form-control" style="height:50px;font-size:15px;"></select>
        <button type="submit" class="btn btn-dark" style="height:27px;font-size:15px;text-align:start;" id="addButton">Додати</button>
    </div>
</div>
<div class="tableBodyScroll">
<table class="table table-hover" id="tableGymUsers">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">IN GYM FROM TIME</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.timeInGym</td>
                <td>
                    <form asp-action="DeleteGymUser" asp-controller="Trainer" method="post" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-dark">Видалити</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

<script>
    $(document).ready(function () {
        $("#chooseUser").select2({
            minimumInputLength: 2,
            placeholder: "Введіть ім'я користувача", 
            allowClear: true,
            ajax: {
                type: "POST",
                url: "../Trainer/GetSearchUserResult",
                dataType: "json",
                data: function (params) {
                    var query = {
                        term: params.term
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (val, index) {
                            return {
                                id: val.id, 
                                text: val.name
                            };
                        }),
                    };
                }
            }
        });
    });


    document.getElementById('addButton').addEventListener('click', function () {
        var name = $("#chooseUser").select2("data")[0].text;
        $.ajax({
            type: 'POST',
            url: '../Trainer/AddGymUser',
            data: { "name": name },
            success: function (response) {
                location.href = '../Trainer/Index';
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

</script>


@section Scripts
{
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
}